body {
  padding: 20px 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#categories {
  width: 800px;
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid #e0e0e0;
}

#categories li,
#categories h2 {
  padding-left: 5px;
  margin-left: 30px;
}

#ingredients {
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px 0;
  margin: 0 auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

#ingredients li {
  margin-left: 35px;
  padding-left: 5px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.gallery_full-photo {
  position: relative;
  margin-bottom: 12px;
}

.gallery_full-photo img {
  display: block;
}

.gallery_photo-previews {
  display: flex;
  list-style-type: none;
  margin: 0;
  width: 325px;
  padding: 0;
  justify-content: space-between;
}

.gallery_photo-preview {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
}

.focus {
  opacity: 0.7;
  border: 3px solid #f84b8e;
}

.thumbnail {
  opacity: 0.7;
}

.gallery_photo-preview:hover {
  opacity: 0.7;
}

.gallery_photo-preview img {
  display: block;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.gallery_arrow {
  position: absolute;
  bottom: 250px;
  border: solid #f84b8e;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
  opacity: 0.5;
}

.gallery_arrow-left {
  left: 55px;
  transform: rotate(135deg);
}

.gallery_arrow-right {
  right: 55px;
  transform: rotate(-45deg);
}

.gallery_arrow:hover {
  opacity: 0.8;
}

#counter button {
  width: 45px;
  height: 25px;
}

#counter {
  width: 400px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  padding: 20px;
  border: 1px solid steelblue;
  box-shadow: 1px 2px 7px 1px #e0e0e0;
}

#value {
  font-size: 30px;
  padding: 0 10px;
}

.input-section {
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px 0;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

#name-input {
  width: 240px;
  height: 30px;
  padding: 5px 10px;
}

.input-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
}

#validation-input {
  width: 170px;
  padding: 10px;
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.font-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px 0;
  border-top: 1px solid #e0e0e0;
}

#text {
  display: block;
  height: 150px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

#controls {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#controls input {
  width: 50px;
  padding: 5px;
}

#controls button {
  width: 80px;
  height: 30px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

#boxes {
  width: 700px;
  min-height: 100px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#boxes div {
  margin: 0 auto;
  text-align: center;
  box-shadow: 1px 1px 7px 1px #e0e0e0;
}
